header{
    background-color: rgb(24, 8, 250);
    align-items: center;
    padding: 50px;
    text-align: center;
    border-radius: 50px;
    font-size: large;
}
footer{
    background-color: antiquewhite;
    align-items: center;
    padding: 50px;
    text-align: center;
}